
@{
    ViewBag.Title = "Reporting";
    Layout = "~/Views/_Layout/Layout.cshtml";
}


<script src="~/Scripts/HighCharts/exporting.js"></script>
<script src="~/Scripts/HighCharts/highcharts.js"></script>
<script src="~/Scripts/HighCharts/FemaleChartScript.js"></script>
<script src="~/Scripts/HighCharts/Under20Charts.js"></script>
<script src="~/Scripts/HighCharts/MaleChartScript.js"></script>
<script src="~/Scripts/HighCharts/Over20Charts.js"></script>
<div class="about_part div">
    <div style="float:left;width:500px;height:400px; margin-left:25px;" id="femalechart"></div>
    <div style="float:left;width:500px;height:400px;margin-right:25px; margin-left:25px;" id="malechart"></div>
    <div style="float:left;width:500px;height:400px; margin-left:25px;margin-top:25px;" id="under20"></div>
    <div style="float:left;width:500px;height:400px; margin-left:25px;margin-top:25px;" id="over20"></div>
</div>


