
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout/Layout.cshtml";
}

<section class="service_part section_padding">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single_service_part">
                    <i><img src="~/Container/myimg/saat2.png" /></i>

                    <h3>VAKİT KAYBETTİRMEZ</h3>
                    <p style="font-size:20px">
                        Bu testi çözmek 5 dakikadan az zamanınızı alır.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single_service_part">
                    <i>

                        <img src="~/Container/myimg/dürüst.png" />
                    </i>

                    <h3>KENDİNİZİ TANIYIN</h3>
                    <p style="font-size:20px">
                        Dürüst cevaplar verin, cevaplar hoşunuza gitmemiş olsa bile.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single_service_part">
                    <i>
                        <img src="~/Container/myimg/terazi3.png" />
                    </i>

                    <h3>KARARSIZ KALMAYIN</h3>
                    <p style="font-size:20px">
                        Kararsız kalmayın.Kararlarınız kişiliğinizi oluşturur.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single_service_part">
                    <i>

                                                <img src="~/Container/myimg/Network-Security-Checked-icon.png" />
                    </i>

                    <h3>GÜVENDESİNİZ</h3>
                    <p style="font-size:20px">
                        Tüm bilgileriniz bizimle güvende.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

