<footer class="footer-area">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-6 col-md-3 col-xl-3">
                <div class="single-footer-widget footer_1">
                    <a href="index.html">
                        <img src="~/Container/img/footer-logo.png" /> <img src="img/footer-logo.png" alt="">
                    </a>
                    <p style="font-size:13px;">
                        Web sitesinin İngilizce olmayan tüm sürümleri, kullanıcılarımızdan gelen resmi olmayan çeviriler içermektedir. Hiçbir şekilde bağlayıcı değildir, doğru oldukları garanti edilmez ve yasal bir etkisi yoktur. Resmi metin web sitesinin İngilizce versiyonudur. Lütfen support@16personalities.com adresine yanlış rapor etmeyi düşünün veya çeviri projemize katılın!
                    </p>
                </div>
            </div>

            <div class="col-sm-6 col-md-2 col-xl-2 offset-xl-1">
                <div class="single-footer-widget">
                    <h4>Best Services</h4>
                    <ul>
                        <li><a href="#">Car accident</a></li>
                        <li><a href="#">Personal injury</a></li>
                        <li><a href="#">Family law</a></li> 
                        <li><a href="#">Bank and financial</a></li>
                        <li><a href="#">Capital market</a></li>
                        <li><a href="#">Employment Law</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xl-3">
                <div class="single-footer-widget footer_3">
                    <h4> RESİM GALERİSİ</h4>
                    <div class="footer_img">
                        <div class="single_footer_img">

                            <img src="~/Container/img/footer_img/footer_img_1.png" />   
                        </div>
                        <div class="single_footer_img">

                            <img src="~/Container/img/footer_img/footer_img_2.png" />
                        </div>
                        <div class="single_footer_img">

                            <img src="~/Container/img/footer_img/footer_img_3.png" />
                        </div>
                        <div class="single_footer_img">

                            <img src="~/Container/img/footer_img/footer_img_4.png" />
                        </div>
                        <div class="single_footer_img">

                            <img src="~/Container/img/footer_img/footer_img_5.png" />
                        </div>
                        <div class="single_footer_img">

                            <img src="~/Container/img/footer_img/footer_img_6.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-xl-3">
                <div class="single-footer-widget footer_icon">
                    <h4>İLETİŞİM BİLGİLERİ</h4>
                    <p>
                        4361 Morningview Lane Artland , Pall Street
                        Latimer, IA 50452 / 23654
                    </p>
                    <ul>
                        <li><a href="#"><i class="ti-mobile"></i>+02 - 32 365 2654</a></li>
                        <li><a href="#"><i class="ti-email"></i>ariclaw@law.com</a></li>
                        <li><a href="#"><i class="ti-world"></i> ariclawyerfirm.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="copyright_part_text text-center">
                    <p class="footer-text m-0">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
